*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*utilities*/
body{
    font-family: 'Montserrat', sans-serif;
}

button{
    border-radius: 20px;
    padding: 5px;
    border: none;
}

/*fine utilities*/

/*inizio header*/
.container-nav{
    max-width: 1170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.sfondo-nav{
    background-color: #3161e0;
}

.riga-nav{
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.col-nav-3{
    width: 25%;
    padding: 5px;
    text-align: center;
}


.col-nav-2{
    width: 50%;
    text-align: center;
    margin: 5px 0 0 100px;
}

.bottoni-nav{
    margin: 10px;
    color: white;
}


/*fine header*/

/*inizio main*/
/*prima parte*/
.sfondo-jumbo{
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
}

.container-1{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.riga-jumbo{
    width: 45%;
    display: flex;
    justify-content: center;
}

#titolo-jumbo{
    text-align: center;
    padding: 40px 0;
    color: white;
    font-size: 50px;
}

.testo-jumbo{
    color: white;
    font-size: 20px;
}

.jumbo-button{
    display: flex;
    justify-content: center;
    margin: 20px 0 100px 0;
}
.button-jumbo-1, .button-jumbo-2{
    padding: 12px;
    margin: 10px;
}

.button-jumbo-2{
    background-color: black;
    color: white;
}


/*fine prima parte*/

/*inizio seconda parte*/
.container-2{
    margin: 0 auto;
    max-width: 1170px;
}


.riga-main-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-main-1{
    text-align: justify;
}

.testo-main-2{
    padding-top: 20px;
}
/*fine seconda parte*/

/*inizio terza parte*/
.sfondo-grigio{
    background-color: rgb(235, 235, 235);
}
.container-3{
    width: 1170px;
    margin: 0 auto;

}

.wave{
    width: 100%;
    opacity: 0.08;
    display: flex;
}

.wave-2{
    width: 100%;
    opacity: 0.08;
    transform: scale(-1);
}

/*fine terza parte*/

/*inizio quinta parte*/
.sfondo-grigiochiaro{
    background-color: rgb(235, 235, 235);
}

.container-5{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.riga-verde{
    text-align: center;
}
.testo-main-5,.h-main-5{
    padding-top: 20px;
}

.button-main-5{
    padding: 12px;
    margin: 30px;
    color: white;
    background-color: rgb(75, 75, 246);
}
/*fine quinta parte*/

/*fine main*/

/*inizio footer*/
/*inizio prima parte*/
.sfondo-footer{
    background-color: rgb(47, 47, 47);
}

.container-footer-1{
    display: flex;
    margin: 0 auto;
    max-width: 1170px;
    justify-content: space-around;
}

.riga-footer-1{
    display: flex;
    margin: 60px 0 30px 0;
}
    


.col-footer-ul{
    margin-right: 20px;
}


.ul-footer{
    list-style-type: none;
}

.h-li-footer{
    color: #3161e0;
    font-size: 20px;
}
.li-footer{
    margin-top: 10px;
    color: white;
}

.bandiera-italia{
    width: 30px;
    margin-right: 5px;
}

.social{
    margin-right: 50px;
}
/*fine prima parte*/

/*inizio seconda parte*/

.container-footer-2{
    height: 80px;
    max-width: 1170px;
    margin: 0 auto;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.riga-footer-2{
    width: 55%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-footer-1,.col-footer-2{
    font-size: 15px;
    text-align: center;
}

/*fine seconda parte*/
/*fine footer*/