*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*utilities*/

button{
    border-radius: 20px;
    padding: 5px;
    border: none;
}

.dashed{
    border: 1px dashed black;
}
/*fine utilities*/

/*inizio header*/
.container-nav{
    height: 60px;
    width: 1170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.sfondo-nav{
    background-color: #3161e0;
}

.riga-nav{
    width: 100%;
    height: 30px;
    display: flex;
}

.col-nav-3{
    width: 25%;
    padding: 5px;
    text-align: center;
}


.col-nav-2{
    width: 50%;
    text-align: center;
    margin: 5px 0 0 100px;
}

.bottoni-nav{
    margin: 10px;
    color: white;
}


/*fine header*/

/*inizio main*/
/*prima parte*/
.sfondo-jumbo{
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
}

.container-1{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.riga-jumbo{
    width: 45%;
    display: flex;
    justify-content: center;
}

#titolo-jumbo{
    text-align: center;
    padding: 40px 0;
    color: white;
    font-size: 50px;
}

.testo-jumbo{
    color: white;
    font-size: 20px;
}

.jumbo-button{
    display: flex;
    justify-content: center;
    margin: 20px 0 100px 0;
}
.button-jumbo-1, .button-jumbo-2{
    padding: 10px;
    margin: 10px;
}

.button-jumbo-2{
    background-color: black;
    color: white;
}


/*fine prima parte*/

/*inizio seconda parte*/
.container-2{
    display: flex;
    margin: 0 auto;
    width: 1170px;
}


.riga-main-1{
    display: flex;
    width: 55%;
    justify-content: center;
    align-items: center;

}

.col-lightblue{
    width: 30%;
}

.col-pink{
    width: 25%;
}

.testo-main-2{

}
/*fine seconda parte*/

/*inizio terza parte*/
.sfondo-grigio{
    height: 400px;
    display: flex;
    background-color: lightgrey;
}
/*fine terza parte*/

/*inizio quinta parte*/
.sfondo-grigiochiaro{
    background-color: lightgray;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenitore-verde{
    width: 55%;
    background-color: green;
    height: 600px;
}

/*fine quinta parte*/

/*fine main*/

/*inizio footer*/
/*utilities footer*/
.sfondo-footer{
    background-color: rgb(47, 47, 47);
    display: flex;
    justify-content: center;
}
/*fine utilities*/
/*inizio prima parte*/
.footer-1{
    height: 400px;
}

.riga-footer-1{
    width: 55%;
    display: flex;
    height: 300px;
}

.col-red{
    background-color: red;
    height: 380px;
    width: 30%;
}

.col-lightgreen{
    background-color: lightgreen;
    height: 380px;
    width: 17.5%;
    border: 1px dashed white;
}
/*fine prima parte*/

/*inizio seconda parte*/

.footer-2{
    height: 80px;
    align-items: flex-end;
}

.riga-footer-2{
    width: 55%;
    background-color: aquamarine;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-footer-1,.col-footer-2{
    height: 20px;
    width: 8%;
    background-color: orange;
    font-size: 15px;
    text-align: center;
}
/*fine seconda parte*/
/*fine footer*/